/node_modules
/public_html/hot
/public_html/compiled
/public_html/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.*
_ide*
.bash_profile
.idea
/keys/